# Be nice
alias please=sudo

# IP address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Hide/show all files
alias hidefiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
alias showfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"

# Edit /etc/hosts
alias hosts="sudo vim /etc/hosts"


# Sublime Text
alias subl="open -a 'Sublime Text'"